{% if page.title == "Home"
%}{% assign showHeader = true %}{% endif %}

<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if showHeader == true %}
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}
    {% endif %}

    <h1 class="title">{{ site.name }}</h1>
    {% if showHeader == true %}
        <h2 class="description">{{ site.bio }}</h2>
    {% endif %}

    {% include social-links.html %}
</header>

{% include nav.html %}
